services:
  queue:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["php", "/var/www/html/artisan", "queue:work", "--tries=3"]
    stop_signal: SIGTERM
    healthcheck:
      test: ["CMD", "healthcheck-queue"]
      start_period: 10s
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
