services:
  reverb:
    build:
      context: .
      dockerfile: Dockerfile
    command: ["php", "/var/www/html/artisan", "reverb:start", "--port=6001"]
    stop_signal: SIGTERM
    healthcheck:
      test: ["CMD", "healthcheck-reverb"]
      start_period: 10s
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
